{% extends "base.html" %}
{% from "show_links.html" import show_links %}

{% block title %}
Register
{% endblock %}

{% block nav %}
{{ show_links(user) }}
{% endblock %}

{% block page_content %}

<div class="w3-border-bottom">
    <h1>{{ question['question_text'] }}</h1>
</div>
<br>
<div class="w3-card-4 w3-padding w3-margin-bottom w3-light-gray">
    <form method="POST" action="{{ url_for('answer', question_id=question['id']) }}">
        <p><label>Answer</label></p>
        <textarea class="w3-input w3-border w3-margin-bottom" rows="4" name="answer" style="width: 100%;"></textarea>

        <button class="w3-btn w3-dark-gray">Submit</button>
    </form>
</div>

{% endblock %}