{% extends "base.html" %}
{% from "show_links.html" import show_links %}

{% block title %}
Question
{% endblock %}

{% block nav %}
{{ show_links(user) }}
{% endblock %}

{% block page_content %}
<br>
<div class="w3-card-4 w3-padding w3-margin-bottom w3-light-gray">
    <h1>{{ question['question_text'] }}</h1>
    <p>{{ question['answer'] }}.</p>
    <a href="" class="w3-btn w3-dark-gray w3-margin-bottom">Asked by: <span>{{ question['asker_name'] }}</span></a><br>
    <a href="" class="w3-btn w3-dark-gray w3-margin-bottom">Expert by: <span>{{ question['expert_name'] }}</span></a>
</div>
{% endblock %}