{% extends "base.html" %}
{% from "show_links.html" import show_links %}

{% block title %}
Register
{% endblock %}

{% block nav %}
{{ show_links(user) }}
{% endblock %}

{% block page_content %}

<div class="w3-border-bottom">
    <h1>Register</h1>
</div>
<br>
<div class="w3-card-4 w3-padding w3-margin-bottom w3-light-gray">
    <form method="POST" accept="{{ url_for('login') }}">
        {% if error %}
        <div class="w3-panel w3-red">
            <p>{{ error }}</p>
        </div>
        {% endif %}
        <p><label>Username</label>
            <input class="w3-input w3-border" name="username" type="text"></p>

        <p><label>Password</label>
            <input class="w3-input w3-border" name="password" type="password"></p>

        <button class="w3-btn w3-dark-gray">Register</button>
    </form>
</div>

{% endblock %}