{% extends "base.html" %}
{% from "show_links.html" import show_links %}

{% block title %}
Unanswered
{% endblock %}

{% block nav %}
{{ show_links(user) }}
{% endblock %}

{% block page_content %}
<div class="w3-border-bottom">
    <h1>Questions For You</h1>
</div>
<br>

<div>
    {% for question in questions %}
    <a href="{{ url_for('answer', question_id=question['id']) }}">
        <div class="w3-card-4 w3-padding w3-margin-bottom w3-light-gray">
            <div>
                <h3>{{ question['question_text'] }}</h3>
                <p>Asked by: <span>{{ question['username'] }}</span></p>
            </div>
        </div>
    </a>

    {% endfor %}
</div>

{% endblock %}