{% extends "base.html" %}
{% from "show_links.html" import show_links %}

{% block title %}
Users
{% endblock %}

{% block nav %}
{{ show_links(user) }}
{% endblock %}

{% block page_content %}
<div class="w3-border-bottom">
    <h1>Answered Questions</h1>
    <h6>Click to promote to expert.</h6>
</div>
<br>

<table class="w3-table w3-hoverable w3-light-grey">

    {% for user in users %}

    <tr class=" {% if user['expert'] == 1 %} w3-gray {% endif %}">
        <td><a href="{{ url_for('promote', user_id=user['id']) }}">{{ user['username'] }}</td>
    </tr>
    {% endfor %}

</table>

{% endblock %}